[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
jupyter = "*"
keras = "*"
keras-utils = "*"
tensorflow = "*"
sklearn = "*"
nltk = "*"
xgboost = "*"

[requires]
python_version = "3.7"
